.exemplo{
    color: #ff0033;
}
.div-centro{
    color: #0000cc;
}
.erro{
    color: #ff0033;
}

/*#centro{
    background-color: #ffff33;
} */

#topo{
    background-color: #ff0066;
}
#rodape{
    background-color:#0000ff;
}